
<header><header-site></header-site></header>

<!--  <h1>{{titre}}</h1>
  <my-route></my-route>
</div>

<div>
    <a routerLink="/liste-utilisateurs" routerLinkActive="active">Liste utilisateurs</a> - 
    Nouveau utilisateur -->
<index></index>

<router-outlet></router-outlet>
<footer><footer-site></footer-site></footer>

<!--
<form #formulaire="ngForm">
    <input required name="nom" [(ngModel)]="inscrit.nom" placeholder="nom"
           #nom="ngModel"/>
    <div [hidden]="nom.valid || !nom.pristine"
        class="alert alert-danger">
      Le champ est obligatoire
    </div>
    <br/>
    <input required name="prenom" [(ngModel)]="inscrit.prenom" placeholder="prenom" 
           #prenom="ngModel"/>
        <div [hidden]="prenom.valid || prenom.dirty"
        class="alert alert-danger">
      Le champ est obligatoire
        </div>
    <br/>
    <input name="mail" [(ngModel)]="inscrit.mail" placeholder="adresse email"/>
    <br/><br/>

    <button [disabled]="!formulaire.form.valid" type='submit' (click)="valider()">Valider</button>
</form>
<button (click)="incrementerValeur()">+1</button>
<button (click)="resetValeur()">reset</button><br/>
<button (click)="getInscrits()">liste inscrits</button>

<div>
    <h2>{{valeur}}<br/>
    {{inscrit.nom}}
    {{inscrit.prenom}}
    {{inscrit.mail}}
    <br/>
    {{user.nom}} 
    {{user.prenom}}
    {{user.mail}}<br/></h2>
    
    {{inscrits|json}}
    {{msgErreur}}
</div>
-->
