/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  color:#FFF;
  background-color: #aaa;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/*
.ng-pristine:not(form) {
    border-left: 5px solid #a94442;
}
*/

